{% extends "base.html" %}

{% block title %}Index | onlinshop{% endblock %}

{% block content %}
<div class="page-header"><h1>Index</h1></div>

{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
		<div class="alert alert-{{ category }}"> {{ message|capitalize }} </div>
		{% endfor %}
	{% endif %}
{% endwith %}

{% if form %}
	{% for field in form.errors %}
		{% for error in form.errors[field] %}
		<div class="alert alert-danger">{{ error }}</div>
		{% endfor %}
	{% endfor %}
{% endif %}

{% if username %}
	<p>Welcome, {{ session["username"] }}!</p>
{% else %}
	<p>Welcome!</p>
{% endif %}
{% endblock %}